table .summary {
	padding: .5rem;
	background-color: var(--table-secondary);
	color: var(--white);
}

table .summary .total {
	font-size: 1.25rem;
	font-weight: normal;
}

table .summary .total.reached {
	color: var(--table-tertiary);
}

table .summary .delivery {
	font-size: .75rem;
	font-weight: normal;
}

table .summary .delivery.reached {
	color: var(--table-tertiary);
}

table .summary .target {
	font-size: .75rem;
}

table .summary .target.reached {
	color: var(--table-tertiary);
}