.home-link-list {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	padding-left: 0;
}

.home-link-item {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	padding: 16px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--tertiary);
	transition-property: background-color, color;
	transition-duration: 0.2s;
}

.home-link-item:hover {
	background-color: #294c6075;
	text-decoration: none;
}

.home-link-item:focus {
	border-color: var(--text);
}

.home-link-name {
	font-weight: bold;
}