.filter-form {
	display: flex;
	flex-direction: column;
	row-gap: 4px;
	padding-bottom: 16px;
	top: 51px;
	position: sticky;
	box-shadow: 0 8px 16px var(--header-color);
	background-color: var(--header-color);
	z-index: 2;
}

.search-input {
	display: block;
	padding: 8px;
	outline: none;
	border-width: 1px;
	border-style: solid;
	border-color: var(--tertiary);
	background-color: transparent;
	color: var(--text);
	font-family: "PP Radio Grotesk", "Arial", sans-serif;
	font-size: 16px;
}

.search-input::placeholder {
	color: var(--tertiary);
}

.search-input:focus {
	border-color: var(--text);
}

.cpp-version-select, .cpp-version-select::picker(select) {
	appearance: base-select;
}

.cpp-version-select {
	display: block;
	padding: 8px;
	outline: none;
	border-width: 1px;
	border-style: solid;
	border-color: var(--tertiary);
	border-radius: 0;
	background-color: transparent;
	font-family: "PP Radio Grotesk", "Arial", sans-serif;
	font-size: 16px;
}

.cpp-version-select:focus, .cpp-version-select:open {
	border-color: var(--text);
}

@media screen and (min-width: 1000px) {
	.filter-form {
		flex-direction: row;
		column-gap: 4px;
	}
}