#method-count {
	margin-top: 16px;
	margin-bottom: 4px;
	color: var(--secondary);
	text-align: right;
}

#method-list {
	margin-top: 0;
	padding-left: 0;
	list-style-type: none;
}

.method-list-item {
	margin: 1px 0;
	padding: 16px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--tertiary);
	transition-property: background-color;
	transition-duration: 0.2s;
}

.method-list-item:not(:first-of-type) {
	margin-top: -2px;
}

.method-list-item:hover {
	background-color: #294c6075;
}

.method-list-item:focus {
	position: relative;
	border-color: var(--text);
}

.method-signature {
	margin: 0;
	overflow-x: auto;
	color: var(--other-color);
	font-family: "Consolas", monospace;
	font-size: 0.9rem;
	white-space: nowrap;
}

.method-instruction-set-container, .method-since-container {
	margin: 0;
}

.monospace {
	font-family: "Consolas", monospace;
}

@media screen and (min-width: 800px) {
	.method-signature {
		white-space: normal;
	}
}