#method-count {
	margin-top: 16px;
	margin-bottom: 4px;
	color: var(--secondary);
	text-align: right;
}

#method-list {
	margin-top: 0;
	padding-left: 0;
	list-style-type: none;
}

.method-list-item {
	padding: 16px;
	margin: 1px 0;
	border-width: 1px;
	border-style: solid;
	border-color: #294c60;
	transition-property: background-color;
	transition-duration: 0.2s;
}

.method-list-item:not(:first-of-type) {
	margin-top: -2px;
}

.method-list-item:hover {
	background-color: #294c6075;
}

.method-list-item:focus {
	position: relative;
	border-color: var(--text);
}

.method-signature, .method-instruction-set-container, .method-since-container {
	margin: 0;
}

.method-signature {
	color: #e6edf3;
	font-family: "Consolas", monospace;
}

.monospace {
	font-family: "Consolas", monospace;
}