header {
	top: 0px;
	position: sticky;
	box-shadow: 0 8px 16px var(--secondary);
	background-color: var(--secondary);
	z-index: 1;
}

header h1 {
	margin: 0;
	padding: 8px 0 10px 0;
	font-size: 1.25rem;
}

@media screen and (min-width: 1000px) {
	header h1 {
		padding-bottom: 12px;
		font-size: 1.5rem;
	}
}