.home-title {
	font-size: 1.5rem;
}

.recent-posts-title {
	margin: 16px 0;
	font-size: 1.25rem;
}

@media screen and (min-width: 1000px) {
	.home-title {
		font-size: 2rem;
	}

	.recent-posts-title {
		font-size: 1.5rem;
	}
}