@import url("fonts.css");

@import url("footer.css");
@import url("header.css");

@import url("text.css");

:root {
	--primary: #6d6576;
	--secondary: #545163;
	--tertiary: #a57e8f;

	--header-color: #545163;
	--header-text-color: #d4cdc9;

	--text: #d4cdc9;
	--text-hover: #cbb5ac;

	--external-link: #5cafe7;
	--external-link-hover: #82cef9;

	--black: #000;
	--white: #fff;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary);
	color: var(--text);
	font-family: "PP Radio Grotesk", "Arial", sans-serif;
}

::selection {
	background-color: var(--text);
	color: var(--primary);
}

.container {
	padding: 0 16px;
}

article {
	flex-grow: 1;
	margin: 16px 0 32px 0;
}

ul {
	padding-left: 20px;
}

@media screen and (min-width: 1000px) {
	.container {
		max-width: 1000px;
		margin: 0 auto;
	}

	article {
		margin-top: 32px;
	}
}