h1 {
	margin: 0;
	font-size: 1.75rem;
}

h2 {
	margin: 0;
	font-size: 1.25rem;
}

h3 {
	margin: 0;
	font-size: 1.25rem;
}

a {
	color: var(--text);
	text-decoration: none;
	word-wrap: break-word;
}

a:hover {
	color: var(--text-hover);
	text-decoration: underline;
	text-underline-offset: 3px;
}

a.external {
	color: var(--external-link);
}

a.external:hover {
	color: var(--external-link-hover);
}

@media screen and (min-width: 800px) {
	h1 {
		font-size: 2.0rem;
	}

	h2, h3 {
		font-size: 1.65rem;
	}
}