.experience-name {
	margin-bottom: 0;
}

.experience-description {
	color: #555;
	font-size: 1rem;
}

.experience-description:not(:last-child)::after {
	content: " •";
	opacity: 0.5;
}

.experience-project-list {
	display: flex;
	flex-direction: column;
	margin-bottom: 32px;
	padding-left: 0;
	list-style-type: none;
}

.project-list-item {
	display: flex;
	flex-direction: column;
	padding: 8px;
	border: 1px solid var(--text-hover);
}

.project-list-item:not(:last-of-type) {
	margin-bottom: -1px;
}

.project-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.project-name-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 4px;
	font-size: 1.25rem;
}

.project-name {
	font-weight: bold;
}

.project-technology-list {
	display: flex;
	column-gap: 4px;
	list-style-type: none;
}

.project-description:last-child {
	margin-bottom: 0;
}

.project-link-list {
	display: flex;
	padding-left: 0;
	list-style-type: none;
}

.project-link-list-item {
	display: inline-flex;
}

.project-link-list-item:not(:last-child)::after {
	content: "•";
	margin: 0 4px;
	opacity: 0.5;
}

.project-mission-list {
	list-style-type: disc;
}