article .container .date {
	font-size: 1rem;
	font-weight: bold;
}

article .container .title {
	margin-top: 0;
}

a.external {
	color: var(--external-link);
}

a.external:hover {
	color: var(--external-link-hover);
}

blockquote {
	margin-left: 0;
	padding-left: 8px;
	border-left: 4px solid var(--tertiary);
}

hr {
	margin: 16px 0;
	border: none;
	border-top: 1px solid var(--tertiary);
}

code {
	tab-size: 28px;
	font-size: 0.9rem;
}

pre:has(code) {
	margin-top: 0;
}

p:has(.post-filename) {
	margin: 0;
	padding: 7px 13px 0 13px;
	background-color: #0d1117;
	color: var(--text-hover);
	font-size: 0.8rem;
}

img {
	display: block;
	width: 100%;
	margin: 0 auto;
}

figcaption {
	width: 100%;
	margin: 0 auto;
	margin-top: -12px;
	color: var(--text-hover);
	text-align: right;
	font-style: italic;
	font-size: 0.9rem;
}

@media screen and (min-width: 800px) {
	img, figcaption {
		width: 50%;
	}
}